@import '~normalize.css';
@import '~react-md/src/scss/react-md';

@include react-md-media;
@include react-md-media-aspect-ratio(2, 1);

$md-media-aspect-ratios: ('16:9', '4:3', '1:1', '2:1') !default;

.about {
  background-image: url('../../common/img/whitediamond_@2X.png');
  margin: 0;
  padding: -8px;
}

.md-cell--12 {
  width: calc(100% + 16px);
}

.md-cell--6 {
  width: calc(50%);
}

.card {
  margin: 8px;
}

.about-button {
  margin: 8px;
}

.last-port-paragraph {
  margin-bottom: 8px;
}
