@import '~normalize.css';
@import '~react-md/src/scss/react-md';

.projects {
  background-image: url('../../common/img/whitediamond_@2X.png');
  margin: 0;
  padding: -8px;
}

ul {
  list-style-type: none;
}

.old {
  background: $md-white-base;
  padding: 16px;
}

.link-card {
  padding: 8px;
}

.last-paragraph {
  margin-top: 16px;
}

.robot-paper {
  background: $md-white-base;
}

.robot-title {
  padding: 1rem;
}

.robot-sub-title {
  padding: 8px;
}

.robot-text {
  padding: 16px;
}
