@import '~normalize.css';
@import '~react-md/src/scss/react-md';

.projects {
  background-image: url('../../common/img/whitediamond_@2X.png');
  margin: 0;
  padding: -8px;
}

ul {
  list-style-type: none;
}

.old {
  background: $md-white-base;
  padding: 16px;
}

.card-background {
  background: $md-teal-300;
}

.width-fix {
  width: calc(100%);
}

.link-card {
  padding: 8px;
}

.last-paragraph {
  margin-top: 16px;
}

.robot-paper {
  background: $md-white-base;
}

.robot-title {
  padding: 1rem;
}

.robot-sub-title {
  padding: 8px;
}

.robot-text {
  padding: 16px;
}

.project-button {
  margin: 16px;
}

@media (min-width: 840px) {
  .center-md-12 {
    width: calc(100%);
  }
}

@media (max-width: 599px) {
  .center-md-12 {
    width: calc(100%);
  }
}
