@keyframes boingInUp {
  0% {
    opacity: 0;
    transform: perspective(800px) rotateX(-90deg);
    transform-origin: 50% 0%;
  }

  50% {
    opacity: 1;
    transform: perspective(800px) rotateX(50deg);
    transform-origin: 50% 0%;
  }

  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg);
    transform-origin: 50% 0%;
  }
}

.boingInUp {
  animation-name: boingInUp;
}

.boingInUp-appear {
  animation: 1s boingInUp;
}

.swashIn {
  animation-name: swashIn;
}

.swashIn-appear {
  animation: 1s swashIn;
}

@keyframes swashIn {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    transform-origin: 50% 50%;
  }

  90% {
    opacity: 1;
    transform: scale(0.9, 0.9);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: 50% 50%;
  }
}

.holeOut {
  animation-name: holeOut;
}

.holeOut-leave {
  animation: 1s holeOut;
}

@keyframes holeOut {
  0% {
    opacity: 1;
    transform: scale(1, 1) rotateY(0deg);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 0;
    transform: scale(0, 0) rotateY(180deg);
    transform-origin: 50% 50%;
  }
}
